body {
    position: relative;
    overflow-x: hidden;
    background-color: aliceblue;
}
header{
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 10px 10px 0px rgb(0, 0, 0); */
    overflow: hidden;
    border-bottom: 1px solid white;
}
h1{
    font-weight: 400 !important;
}
#more{
    position: absolute;
    /* margin-right: -200px !important; */
    right: 10px;
    opacity: 0.9;
}
#section-2{
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.nav-bar{
    /* margin-right: 20% !important; */
    /* margin: auto !important; */
    margin-top: 20px !important;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(236, 219, 219), rgb(236, 219, 219), rgb(219, 236, 221));
}
/* ._carousel-item{
    background-color: black;
} */
.poster{
    /* border-radius: 5px; */
    width: 60%;
    /* margin: auto; */
    /* margin-top: 20px; */
    animation-name: backOpacity;
    animation-duration: 3s;
}
#slide-left{
    position: absolute;
    top: 45%;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.295);
}
#slide-left img{
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}
#slide-right{
    position: absolute;
    top: 45%;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.295);
}
#slide-right img{
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
}
#slide-left:hover, #slide-right:hover{
    background-color: aliceblue;
}
#carousel-container{
    border-top: 1px solid black;
    position: relative;
    background-image: url("resourses/posters/Doctor_Strange_Poster_2.png");
    /* animation-name: backOpacity;
    animation-duration: 3s; */
    overflow: hidden;
    /* box-shadow: 0px 5px 10px rgb(150, 150, 150); */
}
.back-blur{
    backdrop-filter: blur(1px);
}
#logo{
        /* box-shadow: 0px -10px 10px -5px white inset; */
        background-color: black;
    }
/* #section-2{
    box-shadow: 0px -10px 10px -5px rgb(165, 165, 165) inset;
} */
#title {
    /* position: absolute; */
    color: white;
    /* left: 50%; */
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.774);
}
._carousel-item{
    display: none;
    /* display: flex; */
    justify-content: center;
    /* width: auto;
    margin: auto; */
}
#carousel{
    position: relative;
    width: 100%;
}
#switch-container{
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -45px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.493);
    padding-left: 5px;
    padding-right: 5px;
}
.switch{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 2px;
    margin-right: 2px;
}
.switch:hover {
    cursor: pointer;
}
#all{
    display: none;
    position: fixed;
    top: 82px;
    right: 0px;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-left: 1px solid white;
    z-index: 1;
    opacity: 0.9;
}
.dropdown-title{
    color: rgb(255, 255, 255);
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
}
.dropdown-title:hover {
    cursor: pointer;
    background-color: rgb(173, 173, 173);
    color: black;
}
#chart-background{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    /* background: conic-gradient(red, orange, yellow, green, blue); */
    background: conic-gradient(rgb(151, 132, 255) 20%, rgb(163, 255, 163) 40%,  rgb(255, 255, 191) 60%, rgb(255, 222, 162) 80%, red 100%);
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(197, 197, 197), -5px -5px 5px rgb(255, 255, 255);
    margin: auto;
    margin-top: 10%;
}
#chart{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(rgba(255, 255, 255, 0)  0% 85%, rgb(238, 238, 238) 0% 100%);
    border-radius: 50%;
}
#clock{
    position: relative;
}
#swipe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 125px;
    height:125px;
    border-radius: 100% 0 0 0;
    /* border-right: 1px solid rgb(255, 255, 255); */
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, rgb(255, 255, 255));
    animation: linear;
    animation-name: swipe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 100% 100%;
}
#percentage{
    position: absolute;
    border-radius: 50px;
    box-shadow: 3px 3px 5px rgb(197, 197, 197) inset, -3px -3px 5px rgb(255, 255, 255) inset; 
    padding: 7px;
    font-size: small;
    left: 50%;
    margin-left: -19px;
    top: 75%;
    /* z-index: 1; */
    color: rgb(124, 124, 124);
}
#release-date{
    margin: auto;
    text-align: center;
    margin-top: 5%;
}
#counter{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(197, 197, 197) inset, -3px -3px 5px rgb(255, 255, 255) inset; 
    /* box-shadow: 3px 3px 5px rgb(207, 207, 207); */
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px;
}
#minutes{
    border-left: 0px !important;
}
#clock p{
    text-align: center;
    margin: auto;
    margin-top: 3%;
}
#counter .btn{
    border-left: 1px solid rgb(206, 206, 206) !important;
    border-right: 1px solid rgb(206, 206, 206) !important;
}
#counter #days, #counter #seconds{
    border: none !important;
}
footer{
    background-color: black;
    /* display: flex; */
    /* justify-content:center; */
    height: 50px;
}
footer p{
    margin: auto;
    bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(209, 209, 209);
}
#nav-2{
    margin: auto;
    top: 15px;
    display: none;
    justify-content: center;
    width: 80%;
}
#modal-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 233, 255, 0.603);
    z-index: 1;
    top: 0px;
}
.cancel{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    border: 1px solid red;
}
#about, #connect, #edit-chart, #edit-form{
    display: none;
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(173, 173, 173); 
}
#chart-edit-button{
    position: absolute;
    right: 80px;
    top: 40%;
    background-color: rgb(197, 252, 233);
    color: rgb(119, 119, 119);
}
#cancel-form {
    top: auto;
    right: auto;
    bottom: 10px;
    left: 30px;
    border: none;
    color: rgb(66, 66, 66);
    background-color: rgb(246, 212, 255);
}
#save-edit {
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: rgb(212, 255, 231);
}
#connect img{
    width: 40px;
    margin: 10px;
    box-shadow: 0px 3px 5px rgb(173, 173, 173); 
    border-radius: 5px;
}
#chart:hover, #swipe:hover {
    cursor: pointer;
}
#edit-button{
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: rgb(246, 212, 255);
    color: rgb(66, 66, 66);
}
#edit-form{
    width: 300px;
}
@keyframes carouselSwitchLeft {
    0%{margin-right: -60%;}
    100%{margin-right: 0%;}
}
@keyframes carouselSwitchRight {
    0%{margin-right: 60%;}
    100%{margin-right: 0%;}
}
@keyframes backOpacity {
    0%{
        opacity: 0;
    }
    100%{opacity: 1;}
}
@keyframes swipe {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1000px) {
    #more{
        border-top: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        margin-left: -85px;
        background: white;
        opacity: 0.5;
    }
    header{
        background-color: rgb(0, 0, 0);
    }
}
@media screen and (max-width: 786px) {
    #carousel-container{
        box-shadow: 0px 5px 10px rgb(150, 150, 150);
    }
    #nav-1{
        display: none;
    }
    #nav-2{
        display: flex;
    }
    #all{
        width: 100%;
        top: 70px;
    }
    footer{
        height: auto;
        margin-top: 60px;
    }
    #all{
        border: 0px;
    }
    #chart-edit-button{
        right: 30px;
    }
}
@media screen and (max-width: 400px) {
    #slide-left{
        left: 0px;
    }
    #slide-right{
        right: 0px;
    }
    #chart-background{
        width: 150px;
        height: 150px; 
    }
    #chart{
        width: 150px;
        height: 150px; 
    }
    #swipe{
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 415px) {
    #about, #connect, #edit-chart, #edit-form{
        width: 80%;
        margin-top: 45%;
    }
    #connect img{
        width: 30px;
        margin: 5px;
    }
    #chart-edit-button{
        right: 0;
    }
}